* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header {
    background-color: rgb(60, 45, 115);
}
img {
    width: 280px;
    margin: 10px;
}
.botoes {
    display: flex;
    gap: 10px;
}
.botao {
    width: 250px;
}
@media (max-width: 600px) {
.botao {
    width: 170px;
}
}