* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header {
    display: flex;
    justify-content: center;
    background-color: rgb(60, 45, 115);
}
.logo {
    width: 280px;
    margin: 10px;
}
.grade {
    display: grid;
    gap: 10px;
    width: max-content;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
}
.botoes {
    display: flex;
    gap: 10px;
}
.botao {
    width: 280px;
    margin: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
@media (max-width: 600px) {
.botao {
    width: 170px;
}
}