* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header {
    background-color: rgb(60, 45, 115);
}
img {
    width: 280px;
    margin: 10px;
}
h1 {
    margin: 8px;
    font-size: clamp(1.4rem, 2.5vw, 2.2rem);
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.11)
}
body {
    background-color: 242, 242, 242;
    text-align: center;
}
label {
    margin: 10px 40px 10px 25px;
    white-space: nowrap;
    font-size: 16px;
    display: block;
    text-align: left;
}
.itens {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.resultado {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    margin-left: 25px;
}

.animar {
    opacity: 0;
    transform: translateY(12px);
    animation: aparecer 0.5s ease-out forwards;
}
.input-div {
    width: 150px;
    max-width: 400px;
    border-radius: 5px;
    border: 2px solid rgba(128, 128, 128, 0.452);
    font-size: 16px;
}
.itens label {
    width: 180px;
}
.botao {
    padding: 8px 12px;
    font-size: 14px;
    font-weight: 600;
    color: rgb(90, 90, 90);
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(128, 128, 128, 0.971);
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}
.divbotao {
    width: 160px;           /* MESMA coluna do input */
    display: flex;
    justify-content: center;
}
.botao:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}
.botao:active {
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
}
.btn-voltar {
    display: none; /* escondido por padrão (desktop) */
}
@media (max-width: 500px) {
    .itens {
        flex-direction: column;
        align-items: flex-start; /* cola tudo à esquerda */
        margin: 10px;
    }

    label {
        margin: 6px 0 4px 0;
        text-align: left;
    }

    .input-div {
        width: 100%;
        max-width: 100%; /* quase toda a tela */
        height: 28px;
    }
    .divbotao {
        width: 100%;
    }
    .btn-voltar {
        display: flex;
        position: fixed;
        bottom: 16px;
        left: 50%;
        transform: translateX(-50%);
        padding: 12px 24px;
        background-color: #3C2D73;
        color: #fff;
        border: none;
        border-radius: 24px;
        font-size: 16px;
        cursor: pointer;
        z-index: 1000;
        box-shadow: 0 4px 10px rgba(0,0,0,0.25);
    }
}
@keyframes aparecer {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
